# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
/.obsidian
/.idea
/posts/.obsidian/
/.vscode
/.yarn
/kotlin/jflex*.jar
/tsconfig.tsbuildinfo

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build
/posts
!/posts/.gitkeep
/public
!/public/favicon.ico
!/public/theme.js

# misc
.DS_Store
.env*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

.vercel

/volglass.cache