@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    ul {
        @apply list-unset;
        @apply m-auto;
        @apply pl-4;
    }
    ol {
        @apply list-decimal;
        @apply m-auto;
        @apply pl-4;
    }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif;
}

* {
  box-sizing: border-box;
}

#sidebar {
    padding-left: 16px;
}
